.page {
  margin: 0;
  padding: 0;
  background-color: #E7E5E5;
  font-family: "PT Sans", sans-serif;
}

.page__body {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.page__main {
  flex-grow: 1;
}

.page__footer {
  padding: 33px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.page__main-title {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
