.advantages {
  display: flex;
  flex-direction: column;
}

.advantages__real-city {
  background-color: #81b3d2;
  color: #ffffff;
  position: relative;
}

.advantages__real-city:first-child {
  padding-top: 37px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.advantages__decor-left {
  display: flex;
  top: 0;
  left: 0;
  width: 50%;
  height: 37px;
  background-image: url("../img/advantages-decor.svg");
  background-repeat: no-repeat;
  background-position: right top;
  position: absolute;
  z-index: 3;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantages__decor-right {
  display: flex;
  width: 50%;
  height: 37px;
  left: 50%;
  top: 0;
  background-image: url("../img/advantages-decor.svg");
  background-repeat: no-repeat;
  background-position: right top;
  transform: scaleX(-1);
  position: absolute;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantages__cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 37px 18px 37px 65px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 0;
    padding: 0;
  }
}

.advantages__card {
  @media (min-width: $tablet-width) {
    padding: 158px 33px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.advantages__card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.advantages__card-content {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  margin-top: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 26px;
  }
}

.advantages__card-content-benefits {
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.advantages__cards-more {
  display: flex;
  flex-direction: column;
  padding: 0 18px;
  background: #eeeeee;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 0;
  }
}

.advantages__card-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
  padding: 24px 20px;

  @media (min-width: $tablet-width) {
    padding: 41px 33px 63px;
  }
}

.advantages__card-more:not(:last-child) {
  border-bottom: solid 1px #d6d6d6;

  @media (min-width: $tablet-width) {
    border: 0;
  }
}

.advantages__card-title--house {
  position: relative;
}

.advantages__card-title--house::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 42px 37px;
  width: 60px - 18px;
  height: 37px;
  left: -65px + 18px;

  @media (min-width: $tablet-width) {
    left: calc(50% - 38px);
    top: -37px - 50px;
    width: 77px;
    height: 72px;
    background-size: 77px 72px;
  }
}

.advantages__card-title--food {
  position: relative;
}

.advantages__card-title--food::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 42px 37px;
  width: 60px - 18px;
  height: 37px;
  left: -65px + 18px;

  @media (min-width: $tablet-width) {
    left: calc(50% - 38px);
    top: -37px - 50px;
    width: 77px;
    height: 72px;
    background-size: 77px 72px;
  }
}

.advantages__card-title--gift {
  position: relative;
}

.advantages__card-title--gift::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 42px 37px;
  width: 60px - 18px;
  height: 37px;
  left: -65px + 18px;

  @media (min-width: $tablet-width) {
    left: calc(50% - 38px);
    top: -37px - 50px;
    width: 77px;
    height: 72px;
    background-size: 77px 72px;
  }
}
