.advantages {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__real-city {
  background-color: #81b3d2;
  color: #ffffff;
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__real-city:first-child {
  padding-top: 0;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.advantages__cards {
  display: grid;
  background-color: #ffffff;
  grid-template-columns: 1fr;
  list-style: none;
  gap: 25px;
  padding: 23px 18px 46px;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    padding: 0;
    grid-column: 1 / span 3;
  }
}

.advantages__card {
  margin-left: 47px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    padding: 60px 33px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 50px;
  }
}

.advantages__card-title {
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  align-items: center;
  margin-left: -47px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    font-size: 21px;
    flex-direction: column;
    width: 100px;
  }
}

.advantages__card-more .advantages__card-title {
  margin-left: 0;
}

.advantages__card-number {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.advantages__card-content {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
  }
}

.advantages__card-content-benefits {
  text-align: left;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin-top: 24px;
  }
}

.advantages__cards-more {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  padding: 0 18px;
  background: #eeeeee;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
}

.advantages__card-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 24px 20px;

  @media (min-width: $tablet-width) {
    padding: 41px 33px 63px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px;
  }
}

.advantages__card-more:not(:last-child) {
  border-bottom: solid 1px #d6d6d6;

  @media (min-width: $tablet-width) {
    border: 0;
  }
}

.advantages__card-title--house {
  position: relative;
  text-align: left;
}

.advantages__card-title--house::before {
  content: "";
  display: flex;
  flex-direction: row;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 42px 37px;
  width: 40px;
  height: 40px;
  margin-right: 7px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
    flex-direction: column;
    text-align: center;
    width: 77px;
    height: 72px;
    background-size: 77px 72px;
  }
}

.advantages__card-title--food {
  position: relative;
  text-align: left;
}

.advantages__card-title--food::before {
  content: "";
  display: flex;
  flex-direction: row;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 42px 37px;
  width: 40px;
  height: 40px;
  margin-right: 7px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
    flex-direction: column;
    text-align: center;
    width: 77px;
    height: 72px;
    background-size: 77px 72px;
  }
}

.advantages__card-title--gift {
  position: relative;
  text-align: left;
}

.advantages__card-title--gift::before {
  content: "";
  display: flex;
  flex-direction: row;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 42px 37px;
  width: 40px;
  height: 40px;
  margin-right: 7px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
    flex-direction: column;
    text-align: center;
    width: 77px;
    height: 72px;
    background-size: 77px 72px;
  }
}
