.catalog__item {
  padding: 24px 20px 25px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}

.catalog__image {
  margin-bottom: 15px;
  width: 100%;
  height: auto;
}

.catalog__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}

.catalog__avtor {
  margin: 0;
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 21px;
}

.catalog__like {
  display: flex;
  gap: 14px;
  align-items: flex-end;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;

  &::before {
    content: "";
    background-image: url("../img/like-icon.png");
    background-repeat: no-repeat;
    width: 23px;
    height: 21px;
  }
}
