.catalog {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e5e5e5;
  position: relative;

  &:last-child {
    border-bottom: 1px solid #e5e5e5;

    @media (min-width: $tablet-width) {
      border: 0;
    }
  }

  @media (min-width: $tablet-width) {
    border: 0;
    background-color: #f2f2f2;
  }
}

.catalog__item--fullwidth {
  @media (min-width: $tablet-width) {
    grid-column: 1 / span 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / span 3;
  }
}

.catalog__image {
  width: 100%;
  object-fit: cover;
}

.catalog__description {
  display: flex;
  flex-direction: column;
  padding: 15px 0 25px;

  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 15px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
}

.catalog__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}

.catalog__avtor {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}

.catalog__like {
  display: flex;
  margin-top: 11px;
  gap: 14px;
  align-items: flex-end;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    margin-top: -8px;
  }
}

.catalog__icon-like {
  fill: rgba(0, 0, 0, 0.3);

  @media (min-width: $desktop-width) {
    fill: #ffffff;
  }
}

.catalog__video {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 60px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 199px 84px;
  }
}
