.catalog-info {
  display: flex;
  flex-direction: column;
  padding: 17px 6px 38px;
  justify-content: center;
  gap: 38px;

  @media (min-width: $tablet-width) {
    padding: 58px 100px 66px;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 377px 64px;
  }
}

.catalog-info__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.catalog-info__content {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}
