.dev {
  color: #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }
}

.dev__content {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  position: relative;
}
