.dev {
  text-decoration: none;
}

.dev__sponsor {
  color: #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;

  &:hover {
    color: #81b3d2;

    & .dev__icon {
      background-color: #81b3d2;
    }
  }

  &:active {
    color: #b3b3b3;

    & .dev__icon {
      background-color: #b3b3b3;
    }
  }
}

.dev__content {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  position: relative;
}

.dev__icon {
  mask-image: url("../img/sprite.svg#icon-htmlacademy");
  background-color: #000000;
  width: 28px;
  height: 35px;
}
