.dev__content {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}

.dev__content::after {
  content: "";
  position: relative;
  width: 27px;
  height: 34px;
  background-image: url("../img/htmlacademy.png");
  background-repeat: no-repeat;
}
