.footer-social {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social__link {
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
  list-style-type: none;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:focus {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

.footer-social__link--vk::after {
  content: "";
  mask-image: url("../img/sprite.svg#icon-vk");
  background-color: #ffffff;
  width: 24px;
  height: 14px;
}

.footer-social__link:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.footer-social__link:focus::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.footer-social__link--telegramm::after {
  content: "";
  mask-image: url("../img/sprite.svg#icon-telegramm");
  background-color: #ffffff;
  width: 21px;
  height: 17px;
}

.footer-social__link--youtube::after {
  content: "";
  mask-image: url("../img/sprite.svg#icon-youtube");
  background-color: #ffffff;
  width: 24px;
  height: 18px;
}
