.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 120px;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.form__item {
  padding: 24px 20px 23px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &:last-child {
    border-top: none;
  }

  @media (min-width: $tablet-width) {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.form__userinfo {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
  }

  & .form__item {
    flex-direction: column;

    @media (min-width: $tablet-width) {
      display: flex;
      padding: 0 50px;
    }

    @media (min-width: $tablet-width) {
      justify-content: flex-start;
    }
  }

  & .form__item:first-child {
    border-bottom: 1px solid #e5e5e5;

    @media (min-width: $tablet-width) {
      border: none;
      border-right: 1px solid #dbdbdb;
    }
  }
}

.form__title {
  width: 100%;
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 1 / span 2;
  }
}

.form__label {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.form__label-text {
  margin-left: 16px;
}

.form__input {
  background-color: #f2f2f2;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
  margin-bottom: 16px;
}

.form__filter {
  display: flex;
  align-items: center;
  gap: 16px;
}

.form__control-mark-round {
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
  position: relative;
}

.form__control-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__radio-button {
  display: none;
}

.form__radio-button:checked + .form__control-mark-round::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: 15px;
  margin-top: 16px;
  border-radius: 50%;
  background-color: #333333;
}

.form__check-button {
  display: none;
}

.form__control-mark {
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  position: relative;
}

.form__check-button:checked + .form__control-mark::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-left: 12px;
  margin-top: 15px;
}

.form__textuser {
  height: 150px;
  width: 100%;
  padding: 16px;
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  box-sizing: border-box;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-weight: 700;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / span 2;
  }
}

.form__button {
  background-color: #81b3d2;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  padding: 16px;
  border: none;
  text-transform: uppercase;
  margin: 0;
}

.form__text-after {
  align-self: flex-end;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  margin-top: -16px;
  color: rgba(51, 51, 51, 0.6);

  @media (min-width: $tablet-width) {
    justify-self: end;
  }
}
