.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.form__item {
  padding: 24px 0 23px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  @media (min-width: $tablet-width) {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    column-gap: 30px;
  }
}

.form__item--last {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 100px;
    margin-bottom: 70px;
  }

  & .form__title {
    @media (min-width: $desktop-width) {
      grid-column: 1 / span 2;
    }
  }
}

.form__wrapper-checkbox {
  min-width: 100%;
  display: grid;
  box-sizing: border-box;
  justify-self: center;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / span 2;
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    row-gap: 16px;
    column-gap: 40px;
    padding: 0 80px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / span 3;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    row-gap: 32px;
    column-gap: 64px;
    margin-bottom: 40px;
    padding: 20px 40px;
  }
}

.form__wrapper-radio {
  min-width: 100%;
  display: grid;
  box-sizing: border-box;
  justify-self: center;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / span 2;
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    row-gap: 16px;
    padding: 0 35px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / span 3;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    row-gap: 32px;
    column-gap: 64px;
    padding: 27px 53px;
  }
}

.form__userinfo {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-bottom: 45px;
  }

  & .form__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;

    @media (min-width: $tablet-width) {
      display: flex;
      box-sizing: border-box;
      padding: 0 0 0 17px;
      margin: 0;
      justify-content: flex-start;
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 0 50px;
    }
  }

  & .form__item:first-child {
    border-bottom: 1px solid #e5e5e5;

    @media (min-width: $tablet-width) {
      border: none;
      border-right: 1px solid #dbdbdb;
      padding: 0 17px 0 0;
    }

    @media (min-width: $desktop-width) {
      padding: 0 50px 0 0;
    }
  }
}

.form__title {
  width: 100%;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  white-space: nowrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-column: 1 / span 2;
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / span 3;
  }
}

.form__title-mark {
  width: 100%;
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  white-space: nowrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-column: 1 / span 2;
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / span 4;
  }
}

.form__title--line {
  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      display: flex;
      width: 100%;
      height: 1px;
      background-color: #dbdbdb;
      margin-right: 47px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      display: flex;
      width: 100%;
      height: 1px;
      background-color: #dbdbdb;
      margin-left: 47px;
    }
  }
}

.form__title-mark--line {
  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      display: flex;
      width: 100%;
      height: 1px;
      background-color: #dbdbdb;
      margin-right: 47px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      display: flex;
      width: 100%;
      height: 1px;
      background-color: #dbdbdb;
      margin-left: 47px;
    }
  }
}

.form__label {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__label-text {
  margin-left: 16px;
}

.form__input {
  background-color: #f2f2f2;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  height: 58px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: 4px solid #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
  }

  &:active {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
  }
}

.form__input--phone {
  width: 100%;
  box-sizing: border-box;
  padding-right: 76px;
}

.form__input--mail {
  width: 100%;
  box-sizing: border-box;
  padding-right: 76px;
}

.form__input-wrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.form__input-wrapper--phone::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  line-height: 26px;
  background-color: #e6e6e6;
  margin: 0;
  top: 0;
  right: 0;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.form__input-wrapper--mail::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  line-height: 26px;
  background-color: #e6e6e6;
  margin: 0;
  top: 0;
  right: 0;
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.form__filter {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  margin-bottom: 16px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 224px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 100%;
    justify-content: center;
  }
}

.form__filter--round {
  @media (min-width: $tablet-width) {
    width: 280px;
  }
}

.form__filter:hover .form__control-mark-round {
  background-color: #e5e5e5;
}

.form__filter:active .form__control-mark-round {
  background-color: #d5d5d5;

  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: 15px;
    margin-top: 16px;
    border-radius: 50%;
    background-color: #333333;
    opacity: 0.3;
  }
}

.form__control-mark-round {
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
  position: absolute;
  left: 0;
}

.form__control-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-left: 16px;
}

.form__radio-button {
  display: block;
}

.form__radio-button:checked + .form__control-mark-round::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: 15px;
  margin-top: 16px;
  border-radius: 50%;
  background-color: #333333;
}

.form__check-button {
  display: block;
}

.form__control-mark {
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  position: absolute;
  left: 0;
  border-radius: 4px;
}

.form__filter:hover .form__control-mark {
  background-color: #e5e5e5;
}

.form__filter:active .form__control-mark {
  background-color: #d5d5d5;

  &::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 16px;
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: 12px;
    margin-top: 15px;
    opacity: 0.3;
  }
}

.form__check-button + .form__control-mark {
  background-color: #f2f2f2;
}

.form__check-button:focus-within + .form__control-mark {
  background-color: #d5d5d5;
}

.form__check-button:checked:focus-within + .form__control-mark {
  background-color: #d5d5d5;

  &::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 16px;
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: 12px;
    margin-top: 15px;
    opacity: 0.3;
  }
}

.form__check-button:checked + .form__control-mark {
  background-color: #f2f2f2;

  &::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 16px;
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: 12px;
    margin-top: 15px;
  }
}

.form__textuser {
  height: 150px;
  width: 100%;
  padding: 16px;
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  box-sizing: border-box;
  outline: none;
  display: flex;
  border: none;

  @media (min-width: $tablet-width) {
    grid-column: 1 / span 2;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / span 2;
  }

  &::placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.3;
    font-weight: 700;
  }

  &::-moz-placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.3;
    font-weight: 700;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #e5e5e5;
    color: #333333;
  }

  &:active {
    background-color: #e5e5e5;
    color: #333333;
  }
}

.form__button {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #81b3d2;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  padding: 16px;
  border: none;
  text-transform: uppercase;
  margin: 0;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:focus {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
    color: #ffffff;
  }
}

.form__text-after {
  align-self: flex-end;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  margin-top: -16px;
  color: rgba(51, 51, 51, 0.6);
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin: 0;
    align-self: center;
    justify-self: end;
  }
}

/*состояния кнопок для модальных окон*/
.form__button--close {
  width: 100%;
}

.form__button--ok {
  width: calc(100% - 140px);
  display: block;
  margin: 0 70px 35px;

  @media (min-width: $tablet-width) {
    width: calc(100% - 128px);
    margin: 0 64px 49px;
  }
}
