.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro__image {
  width: 100%;
  height: 520px;
  padding: 90px 0 85px;
  background-color: #333333;
  background-image: url("../img/sedona.webp");
  background-repeat: no-repeat;
  background-position: center top;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 77px 0 90px;
  }

  &::after {
    content: "";
    width: 1202px;
    height: 57px;
    position: absolute;
    background-image: url("../img/intro-decor.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    bottom: 0;
    z-index: 1;
  }
}

.intro__image--mini {
  background-position: center bottom;
  height: 155px;
  padding: 0;

  @media (min-width: $tablet-width) {
    height: 290px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    height: 300px;
  }
}

.intro__image--mini .welcome-title {
  height: 39px;

  @media (min-width: $tablet-width) {
    height: 77px;
    margin-top: 100px;
  }
}

.intro__title {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.intro__title--index {
  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.intro__text {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.intro__content-index {
  padding: 37px 18px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    padding: 47px 124px 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 357px 44px;
  }
}

.intro__content-form {
  padding: 37px 18px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    padding: 47px 124px 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 115px 357px 70px;
  }
}

.intro__content {
  padding: 37px 18px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    padding: 66px 150px 105px;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 380px 90px;
    gap: 30px;
  }
}
