.intro-real-city {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 18px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 37px 18px;
  }
}

.intro-real-city.intro-real-city--decor {
  padding: 70px 18px 40px;
  position: relative;
  width: calc(100% - 36px);
  overflow: hidden;
  display: flex;

  @media (min-width: $desktop-width) {
    padding: 40px 18px;
  }

  &::before {
    @media (max-width: $tablet-width) {
      content: "";
      width: 768px;
      height: 37px;
      position: absolute;
      background-image: url("../img/advantages-decor.svg");
      background-repeat: no-repeat;
      background-position: top center;
      top: 0;
      overflow: hidden;
    }
  }
}

.intro-real-city__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  width: 220px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    width: 151px;
  }
}

.intro-real-city__number {
  font-size: 14px;
  line-height: 18px;
}

.intro-real-city__content {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
