.intro-real-city {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  text-align: center;
  padding: 0 18px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 37px 18px;
  }
}

.intro-real-city--decor {
  margin-top: 12px;

  &::before {
    @media (max-width: $tablet-width) {
      content: "";
      min-width: calc(100% + 36px);
      height: 40px;
      position: absolute;
      background-image: url("../img/advantages-decor.svg");
      background-repeat: no-repeat;
      top: -12px;
      left: -18px;
    }
  }
}

.intro-real-city__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.intro-real-city__number {
  font-size: 14px;
  line-height: 18px;
}

.intro-real-city__content {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
