.real-city {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.real-city__image {
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  object-fit: cover;
  display: flex;

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}

.real-city__image--twocolumns {
  @media (min-width: $tablet-width) {
    grid-column: 2 / span 2;
  }
}

.real-city__image--twocolumnsinvert {
  @media (min-width: $tablet-width) {
    grid-column: 1 / span 2;
    order: -1;
  }
}

.real-city__text {
  padding: 40px 18px 40px;
  justify-self: center;

  @media (min-width: $tablet-width) {
    padding: 52px 33px 31px;
    width: 190px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 65px 51px;
    width: 270px;
  }
}
