.search-hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 38px 18px 49px;
  width: 100%;
  box-sizing: border-box;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 458px;
    margin: 55px auto;
    padding: 0;
  }
}

.search-hotel__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.search-hotel__content {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  margin-top: 16px;
  text-align: center;
}

.search-hotel__button {
  text-decoration: none;
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 16px;
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 32px;
  box-sizing: border-box;
}
