.search-hotel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 38px 18px 49px;
  width: 100%;
  box-sizing: border-box;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 60px 155px 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 371px 66px;
  }
}

.search-hotel__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.search-hotel__content {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  margin-top: 30px;
  text-align: center;
}

.search-hotel__button {
  text-decoration: none;
  background-color: #81b3d2;
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 16px;
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 50px;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
    color: #ffffff;
  }
}
