.site-list {
  list-style: none;
}

.site-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  height: 55px;
  text-transform: uppercase;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-decoration: none;

  @media (min-width: $tablet-width) {
    box-shadow: none;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    background-color: transparent;
  }

  &:hover {
    background-color: #669ec0;

    @media (min-width: $tablet-width) {
      color: #81b3d2;
      background-color: transparent;
    }
  }

  &:active {
    background-color: #5496bd;
    color: rgba(0, 0, 0, 0.3);

    @media (min-width: $tablet-width) {
      background-color: transparent;
    }
  }
}

.site-list__item {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 20%;
  }
}

.site-list__item:nth-child(4n - 2) {
  @media (min-width: $tablet-width) {
    margin-right: 20%;
  }
}

.site-list__item--active .site-list__link {
  color: #766357;
}
