.video {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 60px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 199px 84px;
  }
}
