.video {
  display: block;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  position: relative;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 200px;
    margin-bottom: 84px;
  }
}

.video__play {
  width: 48px;
  height: 54px;
  background-color: transparent;
  background-image: url("../img/play.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
}

.video__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: flex;
  cursor: pointer;
}
