.welcome-title {
  margin: auto auto;
  width: 282px;
  height: auto;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 460px;
    height: auto;
  }
}

.welcome-title.welcome-title--mini {
  width: 229px;
  margin-top: 50px;

  @media (min-width: $tablet-width) {
    margin-top: 100px;
    width: 460px;
    height: auto;
  }
}
